@import url("https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poiret+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100&family=Poiret+One&display=swap");
* {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  text-decoration: none;
  outline: none;
}

body {
  overflow-x: hidden;
}

a {
  cursor: pointer;
}

.close-btn {
  position: fixed;
  top: 50px;
  right: 50px;
  color: #39496a;
  transition: 1s;
  cursor: pointer;
}

.close-btn:hover {
  transform: scale(1.2);
  z-index: -5527149226598858752;
}

header nav {
  width: 100%;
  height: 100px;
  z-index: 1590897978359414784;
  -webkit-box-shadow: 0px 1px 6px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 1px 6px 1px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 1px 6px 1px rgba(0, 0, 0, 0.75);
  background-color: #fff;
  position: fixed;
}
header nav .logo-icon {
  font-size: 50px;
  position: absolute;
  top: 25px;
  left: 100px;
  cursor: pointer;
  color: #39496a;
  letter-spacing: 8px;
}
header nav ul {
  position: absolute;
  top: 40px;
  right: 50px;
  display: flex;
}
header nav ul li {
  width: auto;
  margin: 0 10px;
  color: #39496a;
  font-size: 17px;
  padding: 5px 10px;
  font-family: "Open Sans Condensed", sans-serif;
  letter-spacing: 1px;
}
header nav ul li:hover {
  color: #e3e3e3;
}
header nav ul .login-nav-btn {
  background-color: #39496a;
  border-radius: 20px;
  box-sizing: content-box;
  padding: 5px 20px;
  color: #fff;
  transition: 1s;
  font-size: 17px;
  border: 1px solid #39496a;
}
header nav ul .login-nav-btn:hover {
  background-color: #fff;
  color: #39496a;
  border: 1px solid #39496a;
}

.cover {
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9)), url("../img/cover-image-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.cover h1 {
  color: #fff;
  letter-spacing: 10px;
  font-size: 60px;
}
.cover h2 {
  color: #fff;
  letter-spacing: 5px;
  font-size: 30px;
  font-family: "Open Sans Condensed", sans-serif;
}
.cover p {
  color: #fff;
  letter-spacing: 5px;
  font-size: 15px;
  font-family: "Open Sans Condensed", sans-serif;
  margin-top: 10px;
}

.company {
  width: 100%;
  padding: 10% 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.company h2 {
  color: #39496a;
}
.company p {
  text-align: center;
  color: grey;
  font-family: "Poiret One", cursive;
  margin-bottom: 2%;
}
.company .company-info {
  padding: 3% 20%;
  text-align: center;
  color: grey;
  font-family: "Poiret One", cursive;
}
.company .company-info p {
  margin-bottom: 2%;
}
.company .company-features {
  padding: 3% 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  text-align: center;
}
.company .company-features div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 33.3%;
  text-align: center;
}
.company .company-features div i {
  color: #39496a;
  font-size: 3rem;
}
.company .company-features div p {
  padding: 3% 20%;
  text-align: center;
  color: grey;
  font-family: "Poiret One", cursive;
}

.our-services {
  width: 100%;
  padding: 10% 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.our-services h2 {
  color: #39496a;
}
.our-services p {
  text-align: center;
  color: grey;
  font-family: "Poiret One", cursive;
  margin-bottom: 5%;
}
.our-services .services {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  padding: 0;
}
.our-services .services .content, .our-services .services .image {
  height: 400px;
  width: 50%;
}
.our-services .services .content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  padding: 5%;
  background-color: #fff;
}
.our-services .services .content i {
  font-size: 4rem;
  margin-bottom: 3%;
  color: #39496a;
}
.our-services .services .content h3 {
  color: #39496a;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 18px;
  margin-bottom: 5%;
}
.our-services .services .content h4 {
  font-size: 16px;
  margin-bottom: 3%;
  color: #39496a;
}
.our-services .services .content p {
  font-size: 14px;
  color: #39496a;
}
.our-services .services .image {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  cursor: pointer;
  transition: 2s;
}
.our-services .services .image:hover {
  background-size: 120% 120%;
}
.our-services .services .image-1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../img/pesticide-image-1.jpg");
}
.our-services .services .image-1:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("../img/pesticide-image-1.jpg");
}
.our-services .services .image-2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../img/farm-image.jpg");
}
.our-services .services .image-2:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("../img/farm-image.jpg");
}

.staff {
  width: 100%;
  padding: 10% 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.staff h2 {
  color: #39496a;
}
.staff p {
  text-align: center;
  color: grey;
  font-family: "Poiret One", cursive;
  margin-bottom: 2%;
}
.staff .staff-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  text-align: center;
  padding: 3% 0;
}
.staff .staff-content .professional {
  width: 33.3%;
  padding: 0;
}
.staff .staff-content .professional img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  transition: 1.5s;
  filter: grayscale(100%);
  margin-bottom: 2rem;
  cursor: pointer;
}
.staff .staff-content .professional img:hover {
  filter: grayscale(10%);
}
.staff .staff-content .professional h3 {
  color: #39496a;
  font-family: "Poiret One", cursive;
  font-size: 20px;
  margin-bottom: 5%;
}
.staff .staff-content .professional p {
  color: grey;
  font-family: "Poiret One", cursive;
  font-size: 15px;
  margin-bottom: 3%;
}

.location {
  width: 100%;
  padding: 10% 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.location h2 {
  color: #39496a;
}
.location p {
  text-align: center;
  color: grey;
  font-family: "Poiret One", cursive;
  margin-bottom: 2%;
}
.location img {
  width: 40%;
  height: auto;
}

footer {
  width: 100%;
  height: auto;
  padding: 5% 0;
  background-color: #363636;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
footer p {
  color: #fff;
  font-size: 16px;
  font-family: "Poiret One", cursive;
  margin-bottom: 2%;
}
footer p .fa-map-pin {
  color: tomato;
}
footer p i {
  margin: 0 10px;
}
footer .social-networks i {
  transition: 1.5s;
  cursor: pointer;
}
footer .social-networks i:hover {
  color: tomato;
}

.whatsapp-contact {
  background-color: green;
  color: #fff;
  width: 300px;
  height: auto;
  padding: 10px 15px;
  border-radius: 50px;
  position: fixed;
  bottom: 50px;
  right: 50px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.our-clients {
  width: 100%;
  padding: 10% 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.our-clients h2 {
  color: #39496a;
}
.our-clients p {
  text-align: center;
  color: grey;
  font-family: "Poiret One", cursive;
  margin-bottom: 2%;
}
.our-clients .carousel-content {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.our-clients .carousel-content i {
  font-size: 2rem;
  margin: 0 100px;
  padding: 5px;
  background-color: #39496a;
  color: #fff;
  transition: 1s;
  cursor: pointer;
}
.our-clients .carousel-content i:hover {
  background-color: #e3e3e3;
}
.our-clients .carousel-content .our-clients-carousel {
  width: 50%;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.our-clients .carousel-content .our-clients-carousel .slick-next, .our-clients .carousel-content .our-clients-carousel .slick-prev {
  visibility: hidden;
}
.our-clients .carousel-content .our-clients-carousel .slick-dots li button:before {
  font-size: 30px;
  line-height: 30px;
}
.our-clients .carousel-content .our-clients-carousel .slick-dots li.slick-active button:before {
  color: #39496a !important;
}
.our-clients .carousel-content .our-clients-carousel div {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.our-clients .carousel-content .our-clients-carousel div img {
  height: auto;
  width: 150px;
  filter: grayscale(100%);
}

.loading-section {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 200376420520689664;
  width: 100%;
  height: 100vh;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.loading-section .lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  color: #39496a;
}
.loading-section .lds-ripple div {
  position: absolute;
  border: 4px solid #fff;
  opacity: 1;
  border-radius: 50%;
  background-color: #39496a;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.loading-section .lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}

.main {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  display: none;
  background-color: #fff;
  z-index: 3136633892082024448;
}

.login {
  width: 100%;
  height: 100vh;
  background-color: #fff;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.login .close-main {
  position: absolute;
  top: 50px;
  right: 100px;
  font-size: 20px;
  color: #39496a;
  letter-spacing: 5px;
  text-transform: uppercase;
  cursor: pointer;
  transition: 1s;
}
.login .close-main:hover {
  color: grey;
}
.login .login-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.login .login-form .fa-user-circle {
  font-size: 5rem;
  margin-bottom: 20px;
  color: #39496a;
}
.login .login-form .input-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.login .login-form .input-content .input-icon {
  width: 50px;
  height: 37px;
  background-color: #39496a;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 30px 0 0 30px;
}
.login .login-form .input-content .input-icon i {
  font-size: 15px;
}
.login .login-form .input-content input[type=text] {
  width: 180px;
  padding: 10px 15px;
  margin: 10px 0;
  border: 1px solid grey;
  border-radius: 0 30px 30px 0;
}
.login .login-form .input-content input[type=password] {
  width: 180px;
  padding: 10px 15px;
  margin: 10px 0;
  border: 1px solid grey;
  border-radius: 0 30px 30px 0;
}
.login .login-form .input-content .fa-check-circle {
  margin: 0 10px;
  color: green;
  font-size: 1rem;
  display: none;
}
.login .login-form .input-content .fa-times {
  margin: 0 10px;
  color: tomato;
  font-size: 1rem;
  display: none;
}
.login .login-form input[type=button] {
  width: 150px;
  margin: 10px 0;
  padding: 10px 30px;
  border: 1px solid #39496a;
  background-color: #39496a;
  border-radius: 30px;
  color: #fff;
  transition: 1s;
  cursor: pointer;
}
.login .login-form input[type=button]:hover {
  width: 150px;
  margin: 10px 0;
  padding: 10px 30px;
  border: 1px solid #39496a;
  background-color: #fff;
  border-radius: 30px;
  color: #39496a;
}
.login .login-form .success-login-message, .login .login-form .error-login-message {
  width: 40%;
  height: 80px;
  position: absolute;
  top: 12vh;
  right: 2%;
  text-align: center;
  -webkit-box-shadow: 0px 0px 10px 0px #e3e3e3;
  -moz-box-shadow: 0px 0px 10px 0px #e3e3e3;
  box-shadow: 0px 0px 10px 0px #e3e3e3;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.login .login-form .success-login-message i, .login .login-form .error-login-message i {
  font-size: 1.5rem;
  color: #fff;
  margin: 0 5px;
}
.login .login-form .success-login-message p, .login .login-form .error-login-message p {
  color: #fff;
  font-size: 14px;
}
.login .login-form .success-login-message {
  background-color: rgba(35, 203, 167, 0.8);
  display: none;
}
.login .login-form .error-login-message {
  background-color: rgba(255, 99, 71, 0.8);
  display: none;
}

.admin-dashboard {
  width: 100%;
  position: relative;
}
.admin-dashboard .admin-main {
  width: 100%;
  position: absolute;
  top: 150px;
  left: 0;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.admin-dashboard .admin-main .admin-dashboard-welcome-message {
  color: #39496a;
  letter-spacing: 5px;
}
.admin-dashboard .log-out-message {
  position: absolute;
  top: 30vh;
  left: 15%;
  width: 70%;
  padding: 20px 0;
  border: 2px solid #39496a;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 5px 0px #363636;
  -moz-box-shadow: 0px 0px 5px 0px #363636;
  box-shadow: 0px 0px 5px 0px #363636;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: none;
}
.admin-dashboard .log-out-message p {
  color: #39496a;
  font-family: "Open Sans Condensed", sans-serif;
  letter-spacing: 1px;
  font-size: 17px;
  margin-bottom: 10px;
}
.admin-dashboard .log-out-message .confirm-log-out-buttons {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.admin-dashboard .log-out-message .confirm-log-out-buttons input[type=button] {
  padding: 10px 30px;
  border-radius: 50px;
  background-color: #39496a;
  border: 1px solid #39496a;
  color: #fff;
  transition: 1s;
  margin: 0 20px;
  cursor: pointer;
}
.admin-dashboard .log-out-message .confirm-log-out-buttons input[type=button]:hover {
  padding: 10px 30px;
  border-radius: 50px;
  background-color: #fff;
  border: 1px solid #39496a;
  color: #39496a;
  cursor: pointer;
}

.change-password {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.change-password h2 {
  text-transform: uppercase;
  letter-spacing: 5px;
  color: #39496a;
  margin-bottom: 5%;
  text-shadow: 0px 0px 5px #969696;
}
.change-password .new-password-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 20px 0;
}
.change-password .new-password-content .new-password-logo {
  width: 50px;
  height: 30px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #39496a;
  border: 1px solid #39496a;
  border-radius: 30px 0 0 30px;
}
.change-password .new-password-content .new-password-logo i {
  font-size: 1rem;
  color: #fff;
}
.change-password .new-password-content input[type=password] {
  padding: 5px;
  height: 30px;
  border: 1px solid #e3e3e3;
  border-radius: 0 30px 30px 0;
  font-size: 12px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.change-password .new-password-content .new-pass-check, .change-password .new-password-content .confirm-new-pass-check {
  color: green;
  display: none;
  margin: 0 10px;
}
.change-password .new-password-content .new-pass-un-check, .change-password .new-password-content .confirm-new-pass-un-check {
  color: tomato;
  display: none;
  margin: 0 10px;
}
.change-password input[type=button] {
  padding: 10px 30px;
  border-radius: 50px;
  background-color: #39496a;
  border: 1px solid #39496a;
  color: #fff;
  transition: 1s;
  margin: 0 20px;
  cursor: pointer;
}
.change-password input[type=button]:hover {
  padding: 10px 30px;
  border-radius: 50px;
  background-color: #fff;
  border: 1px solid #39496a;
  color: #39496a;
  cursor: pointer;
}
.change-password .success-change-password-message, .change-password .error-change-password-message {
  width: 40%;
  height: 80px;
  position: absolute;
  top: 5vh;
  right: 2%;
  text-align: center;
  -webkit-box-shadow: 0px 0px 10px 0px #e3e3e3;
  -moz-box-shadow: 0px 0px 10px 0px #e3e3e3;
  box-shadow: 0px 0px 10px 0px #e3e3e3;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.change-password .success-change-password-message i, .change-password .error-change-password-message i {
  font-size: 1.5rem;
  color: #fff;
  margin: 0 5px;
}
.change-password .success-change-password-message p, .change-password .error-change-password-message p {
  color: #fff;
  font-size: 14px;
}
.change-password .success-change-password-message {
  background-color: rgba(35, 203, 167, 0.8);
  display: none;
}
.change-password .error-change-password-message {
  background-color: rgba(255, 99, 71, 0.8);
  display: none;
}

/*# sourceMappingURL=styles.css.map */
