// Admin Users Styles Open
.admin-users{
  width: 100%;
  text-align: center;
  display: none;

  h2{
    color: $dark-blue;
    margin-bottom: 3rem;
    font-family: 'Montserrat Alternates', sans-serif;
    font-family: 'Poiret One', cursive;
  }

  .add-new-user-content{
    width: 80%;

    .add-new-user-title{
      width: 100%;
      padding: 10px 0;
      background-color: $dark-blue;
      cursor: pointer;
      @include flex-column;

      h3{
        color: #fff;
        font-family: 'Montserrat Alternates', sans-serif;
        font-family: 'Poiret One', cursive;
      }
    }

    .add-new-user-inputs{
      width: 100%;
      margin-top: 2rem;
      padding: 10px 0;
      display: none;

      .add-new-user-inputs-content{
        margin-bottom: 1rem;
        width: 100%;
        @include flex-row;

        p{
          font-family: 'Montserrat Alternates', sans-serif;
          font-family: 'Poiret One', cursive;

          span{
            color: tomato;
          }

          i{
            color: $dark-blue;
            margin-right: 10px;
          }
        }

        input[type = "email"] , input[type = "password"] , input[type= "text"]{
          width: 40%;
          border: 1px solid #e3e3e3;
          border-radius: 10px;
          padding: 10px 15px;
        }

        .add-new-user-logo-input{
          display: none;
        }

        .update-new-logo-btn{
          cursor: pointer;
          border: 1px #e3e3e3 dashed;
          padding: 10px 15px;
          width: 40%;
        }
      }

      input[type = "button"]{
        margin: 0 30px;
        padding: 5px 30px;
        border: 1px solid $dark-blue;
        font-family: 'Montserrat Alternates', sans-serif;
        font-family: 'Poiret One', cursive;
        border-radius: 30px;
        background-color: $dark-blue;
        color: #fff;
        cursor: pointer;
        transition: 1s;
      }

      input[type = "button"]:hover{
        padding: 5px 30px;
        border: 1px solid $dark-blue;
        background-color: #fff;
        color: $dark-blue;
        cursor: pointer;
      }

      #progress-bar{
        margin: 2rem 0;
        width: 40%;
        display: none;
      }
    }
  }

  .manage-all-users{
    width: 80%;
    margin-top: 2rem;

    .manage-all-users-title{
      width: 100%;
      padding: 10px 0;
      background-color: $dark-blue;
      cursor: pointer;
      @include flex-column;

      h3{
        color: #fff;
        font-family: 'Montserrat Alternates', sans-serif;
        font-family: 'Poiret One', cursive;
      }
    }

    .manage-all-users-content{
      display: none;

      table{
        width: 100%;
        margin: 2rem 0;
        text-align: center;

        thead{
          width: 100%;
          margin: 1rem 0;

          th{
            width: 33.3%;
            color: $dark-blue;
            padding: 1rem 0;
            border-bottom: 1px solid $dark-blue;
            text-align: center;
            font-family: 'Montserrat Alternates', sans-serif;
            font-family: 'Poiret One', cursive;
          }
        }

        tbody{
          width: 100%;
          margin: 1rem 0;

          tr{
            width: 100%;
            margin: 1rem 0;

            td{
              color: #444;
              font-family: 'Montserrat Alternates', sans-serif;
              font-family: 'Poiret One', cursive;
              padding: 1rem 0;

              .fa-trash-alt{
                color: tomato;
                cursor: pointer;
                transition: 1s;
              }

              .fa-trash-alt:hover{
                color: red;
              }
            }
          }
        }
      }
    }
  }
}
