.charge-reports{
  width: 100%;
  display: none;

  h2{
    color: $dark-blue;
    margin-bottom: 3rem;
  }

  .enterprise-data{
    @include flex-column;
    width: 100%;

    .input-container{
      @include flex-row;
      width: 100%;

      p{
        span{
          color: tomato;
        }

        i{
          color: $dark-blue;
        }
      }

      input{
        width: 40%;
        border: 1px solid #e3e3e3;
        padding: 10px 20px;
        border-radius: 5px;
        margin: 10px;
        color: $dark-blue;
      }
    }
  }

  .rodents-control{
    @include flex-column;
    width: 100%;
    margin-top: 3rem;

    .table-header{
      width: 80%;
      padding: 20px 0;
      margin-top: 3rem;
      border-radius: 50px 50px 0 0;
      background-color: $dark-blue;
      @include flex-column;

      h2{
        color: #fff;
        margin-bottom: 0;
      }
    }

    .rodents-control-place{
      color: $dark-blue;
      padding: 20px 0;
      width: 80%;
      border-left: 1px solid #e3e3e3;
      border-right: 1px solid #e3e3e3;
      @include flex-row;

      p{
        color: $dark-blue;
        font-weight: bold;
        margin: 0 10px;
      }

      input[type = "radio"]{
        margin: 0 10px;
      }

      input[type = "button"]{
        margin: 0 30px;
        padding: 5px 30px;
        border: 1px solid $dark-blue;
        border-radius: 30px;
        color: $dark-blue;
        background-color: #fff;
        cursor: pointer;
        transition: 1s;
      }

      input[type = "button"]:hover{
        padding: 5px 30px;
        border: 1px solid $dark-blue;
        color: #fff;
        background-color: $dark-blue;
        cursor: pointer;
      }
    }

    .rodents-control-table-content{
      width: 80%;
      border: 1px solid  #e3e3e3;
      overflow-x: scroll;

      table{
        table-layout: fixed;

        tr{
          text-align: center;
          color: #363636;

          td{
            text-align: center;
            padding: 15px;
            border-right: 1px solid #e3e3e3;
            border-bottom: 1px solid #e3e3e3;
          }

          .first-td{
            font-size: 15px;
            background-color: $dark-blue;
            color: #fff;
          }
        }
      }
    }

    .rodents-control-references{
      width: 80%;
      border: 1px solid  #e3e3e3;
      border-left: 1px solid #e3e3e3;
      border-right: 1px solid #e3e3e3;
      @include flex-column;


      .rodents-control-references-header{
        width: 100%;
        padding: 20px 0;
        text-align: center;
        background-color: $dark-blue;

        h2{
          color: #fff;
          margin-bottom: 0;
        }
      }

      .rodents-control-references-content{
        width: 100%;
        padding: 20px 0;
        background-color: $dark-blue;
        text-align: center;
        border-radius: 0 0 50px 50px;

        p{
          margin-bottom: 5px;
          color: #fff;
        }
      }
    }
  }
}
