// Company Styles Open
.company{
  width: 100%;
  padding: 10% 0 0 0;
  @include flex-column;

  h2{
    color: $dark-blue;
    font-size: 30px;
  }

  p{
    text-align: center;
    color: grey;
    font-family: 'Poiret One', cursive;
    margin-bottom: 2%;
    font-size: 17px;
  }

  .company-info{
    padding: 3% 20%;
    text-align: center;
    color: grey;
    font-family: 'Poiret One', cursive;

    p{
      margin-bottom: 2%;
      color: $dark-blue;

      strong{
        color: #363636;
        font-size: 20px;
      }
    }
  }

  .company-features{
    padding: 3% 10%;
    @include flex-row;
    text-align: center;

    div{
      @include flex-column;
      width: 33.3%;
      text-align: center;

      i{
        color: $dark-blue;
        font-size: 3rem;
      }

      p{
        padding: 3% 20%;
        text-align: center;
        color: grey;
        font-size: 19px;
        font-family: 'Poiret One', cursive;
      }
    }
  }
}

// Media Query Open //
@media screen and (max-width: 992px){
  .company{

    h2{
      font-size: 22px;
    }

    p{
      font-size: 16px;
    }

    .company-features{
      @include flex-column;

      div{
        width: 100%;
      }
    }
  }
}
