// Contact Form Styles Open
.form-contact{
  padding: 10% 0;
  width: 100%;
  background: -webkit-linear-gradient(rgba(0,0,0,.7),rgba(0,0,0, 1)), url("../img/contact-form-image.jpeg");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  @include flex-column;

  h2{
    color: $dark-blue;
    font-size: 30px;
  }

  p{
    text-align: center;
    color: grey;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 3%;
    font-size: 22px;
  }

  form{
    @include flex-column;
    width: 100%;

    .form-content{
      @include flex-row;
      width: 100%;

      i{
        font-size: 2rem;
        color: $dark-blue;
      }

      input[type = 'email']{
        width: 40%;
        padding: 10px 20px;
        @include flex-column;
        border-bottom: 1px solid #fff;
        margin: 1rem;
        background-color: transparent;
        color: #fff;
      }

      input[type = 'text']{
        width: 40%;
        padding: 10px 20px;
        @include flex-column;
        border-bottom: 1px solid #fff;
        margin: 1rem;
        background-color: transparent;
        color: #fff;
      }

      input[type = 'tel']{
        width: 40%;
        padding: 10px 20px;
        @include flex-column;
        border-bottom: 1px solid #fff;
        margin: 1rem;
        background-color: transparent;
        color: #fff;
      }

      textarea{
        width: 40%;
        height: 100px;
        padding: 20px;
        color: #343434;
        border: 1px solid #fff;
        margin: 1rem 0;
        border-radius: 20px;
        background-color: transparent;
        color: #fff;
      }

      .required-field{
        color: tomato;
        font-size: 1.5rem;
      }
    }

    input[type = 'submit']{
      min-width: 200px;
      margin: 10px 0;
      padding: 10px 30px;
      border: 1px solid $dark-blue;
      background-color: $dark-blue;
      border-radius: 30px;
      color: #fff;
      transition: 1s;
      cursor: pointer;
    }

    input[type = 'submit']:hover{
      min-width: 200px;
      margin: 10px 0;
      padding: 10px 30px;
      border: 1px solid $dark-blue;
      background-color: transparent;
      border-radius: 30px;
      color: $dark-blue;
    }
  }
}

// Media Querys Open //
@media screen and (max-width: 992px){
  // Contact Form Styles Open
  .form-contact{
    padding: 10% 0;
    width: 100%;
    background: -webkit-linear-gradient(rgba(0,0,0,.7),rgba(0,0,0, 1)), url("../img/contact-form-image.jpeg");
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    @include flex-column;

    h2{
      color: $dark-blue;
      font-size: 30px;
    }

    p{
      text-align: center;
      color: grey;
      font-family: 'Montserrat', sans-serif;
      margin-bottom: 3%;
      font-size: 22px;
    }

    form{
      @include flex-column;
      width: 100%;

      .form-content{
        @include flex-row;
        width: 100%;

        i{
          font-size: 2rem;
          color: $dark-blue;
        }

        input[type = 'email']{
          width: 60%;
          padding: 10px 20px;
          @include flex-column;
          border-bottom: 1px solid #fff;
          margin: 1rem;
          background-color: transparent;
          color: #fff;
        }

        input[type = 'text']{
          width: 60%;
          padding: 10px 20px;
          @include flex-column;
          border-bottom: 1px solid #fff;
          margin: 1rem;
          background-color: transparent;
          color: #fff;
        }

        input[type = 'tel']{
          width: 60%;
          padding: 10px 20px;
          @include flex-column;
          border-bottom: 1px solid #fff;
          margin: 1rem;
          background-color: transparent;
          color: #fff;
        }

        textarea{
          width: 60%;
          height: 100px;
          padding: 20px;
          color: #343434;
          border: 1px solid #fff;
          margin: 1rem 0;
          border-radius: 20px;
          background-color: transparent;
          color: #fff;
        }

        .required-field{
          color: tomato;
          font-size: 1.5rem;
        }
      }

      input[type = 'submit']{
        min-width: 200px;
        margin: 10px 0;
        padding: 10px 30px;
        border: 1px solid $dark-blue;
        background-color: $dark-blue;
        border-radius: 30px;
        color: #fff;
        transition: 1s;
        cursor: pointer;
      }

      input[type = 'submit']:hover{
        min-width: 200px;
        margin: 10px 0;
        padding: 10px 30px;
        border: 1px solid $dark-blue;
        background-color: transparent;
        border-radius: 30px;
        color: $dark-blue;
      }
    }
  }
}
