// Footer Section Open
footer{
  width: 100%;
  height: auto;
  padding: 5% 0;
  background-color: #101010;
  text-align: center;
  @include flex-column;

  .logo-icon-footer{
    font-size: 40px;
    cursor: pointer;
    color: grey;
    margin: 2rem 0;
    transition: 1s;

    i{
      margin: 0 2px;
    }
  }

  .logo-icon-footer:hover{
    font-size: 40px;
    cursor: pointer;
    color: #fff;
    margin: 2rem 0;

    i{
      margin: 0 2px;
    }
  }

  p{
    color: grey;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 2%;

    .fa-map-pin{
      color: tomato;
    }

    i{
      margin: 0 10px;
    }
  }

  .social-networks{

    i{
      transition: 1.5s;
      cursor: pointer;
    }

    i:hover{
      color: tomato;
    }
  }
}

// Media Querys Open //
@media screen and (max-width: 740px){
  footer{
    width: 100%;
    height: auto;
    padding: 5% 0;
    background-color: #101010;
    text-align: center;
    @include flex-column;

    p{
      color: grey;
      font-size: 13px;
      font-family: 'Montserrat', sans-serif;
      margin-bottom: 1rem;

      .fa-map-pin{
        color: tomato;
      }

      i{
        margin: 0 10px;
      }
    }

    .social-networks{

      i{
        transition: 1.5s;
        cursor: pointer;
      }

      i:hover{
        color: tomato;
      }
    }
  }
}
