// General .scss File

// General Styles Open
*{
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  text-decoration: none;
  outline: none;
}

// Variables
$dark-blue : #39496a;


// Mixin´s
@mixin flex-column{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
