// Generate Certificate Styles Open
.generate-certifications-section{
  width: 100%;
  height: 70vh;
  @include flex-column;

  .upload-certifiction{
    margin-bottom: 3rem;
    @include flex-column;

    h2{
      font-size: 30px;
      letter-spacing: 5px;
      color: $dark-blue;
      margin-bottom: 5%;
      text-shadow: 0px 0px 5px rgba(150, 150, 150, 1);
    }

    .upload-certification-content{
      margin: 20px 0;
      padding: 5px 20px;
      height: 30px;
      text-align: center;
      transition: 2s;
      @include flex-row;
      cursor: pointer;

      i{
        color: green;
        margin-right: 5px;
      }

      p{
        color: $dark-blue;
      }
    }

    .select-certificate-to-upload{
      display: none;
    }

    input[type = 'text']{
      @include flex-column;
      border-bottom: $dark-blue 1px solid;
      width: 50%;
      padding: 10px 0;
      color: #485761;
      margin: 1rem 0;
      color: $dark-blue;
    }

    input[type = 'button']{
      width: auto;
      margin: 10px 0;
      padding: 10px 30px;
      border: 1px solid $dark-blue;
      background-color: $dark-blue;
      border-radius: 30px;
      color: #fff;
      transition: 1s;
      cursor: pointer;
    }

    input[type = 'button']:hover{
      width: auto;
      margin: 10px 0;
      padding: 10px 30px;
      border: 1px solid $dark-blue;
      background-color: #fff;
      border-radius: 30px;
      color: $dark-blue;
    }
  }

  .assign-certifiction-to-user{
    @include flex-column;

    h2{
      font-size: 30px;
      letter-spacing: 5px;
      color: $dark-blue;
      margin-bottom: 5%;
      text-shadow: 0px 0px 5px rgba(150, 150, 150, 1);
    }

    select{
      @include flex-column;
      border-bottom: $dark-blue 1px solid;
      width: 50%;
      padding: 10px 0;
      color: #485761;
      margin: 1rem 0;
    }

    input[type = 'button']{
      width: auto;
      margin: 10px 0;
      padding: 10px 30px;
      border: 1px solid $dark-blue;
      background-color: $dark-blue;
      border-radius: 30px;
      color: #fff;
      transition: 1s;
      cursor: pointer;
    }

    input[type = 'button']:hover{
      width: auto;
      margin: 10px 0;
      padding: 10px 30px;
      border: 1px solid $dark-blue;
      background-color: #fff;
      border-radius: 30px;
      color: $dark-blue;
    }
  }

  .certificate-message{
    position: absolute;
    top: 30vh;
    left: 20%;
    width: 60%;
    padding: 20px 0;
    border: 2px solid $dark-blue;
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(54,54,54,1);
    -moz-box-shadow: 0px 0px 5px 0px rgba(54,54,54,1);
    box-shadow: 0px 0px 5px 0px rgba(54,54,54,1);
    text-align: center;
    @include flex-column;

    p{
      color: $dark-blue;
      font-family: 'Open Sans Condensed', sans-serif;
      letter-spacing: 1px;
      font-size: 17px;
      margin-bottom: 10px;
    }

    input[type = 'button']{
      padding: 10px 30px;
      border-radius: 50px;
      background-color: $dark-blue;
      border: 1px solid $dark-blue;
      color: #fff;
      transition: 1s;
      margin: 0 20px;
      cursor: pointer;
    }

    input[type = 'button']:hover{
      padding: 10px 30px;
      border-radius: 50px;
      background-color: #fff;
      border: 1px solid $dark-blue;
      color: $dark-blue;
      cursor: pointer;
    }
  }

  .success-assign-cert-message , .success-charge-document , .success-select-document{
    width: 40%;
    height: 80px;
    position: absolute;
    top: 1vh;
    right: 2%;
    text-align: center;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(227,227,227,1);
    -moz-box-shadow: 0px 0px 10px 0px rgba(227,227,227,1);
    box-shadow: 0px 0px 10px 0px rgba(227,227,227,1);
    border-radius: 100px;
    @include flex-row;
    background-color: rgba(35, 203, 167, 0.8);
    color: #fff;
    display: none;
  }

  .error-update-document{
    width: 40%;
    height: 80px;
    position: absolute;
    top: 1vh;
    right: 2%;
    text-align: center;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(227,227,227,1);
    -moz-box-shadow: 0px 0px 10px 0px rgba(227,227,227,1);
    box-shadow: 0px 0px 10px 0px rgba(227,227,227,1);
    border-radius: 100px;
    @include flex-row;
    background-color: rgba(255,99,71, 0.8);
    color: #fff;
    display: none;
  }
}
