// Google Fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100&family=Poiret+One&display=swap');

// General Styles Open
*{
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  text-decoration: none;
  outline: none;
}

body{
  overflow-x: hidden;
}

a{
  cursor: pointer;
}

// Variables
$dark-blue : #39496a;


// Mixin´s
@mixin flex-column{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@mixin flex-row{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

// Close Button Styles
.close-btn{
  position: fixed;
  top: 50px;
  right: 50px;
  color: $dark-blue;
  transition: 1s;
  cursor: pointer;
}

.close-btn:hover{
  transform: scale(1.2);
  z-index: 1000000000000000000000000000000000000;
}

#progress-bar{
  margin-top: 1%;
  width: 40%;
  display: none;
}
