// Location Section Open
.location{
  width: 100%;
  padding: 10% 0 5% 0;
  text-align: center;
  @include flex-column;

  h2{
    color: $dark-blue;
    font-size: 30px;
  }

  p{
    text-align: center;
    color: grey;
    font-family: 'Poiret One', cursive;
    margin-bottom: 2%;
    font-size: 17px;
  }

  img{
    width: 40%;
    height: auto;
  }
}

// Media Querys Open //
@media screen and (max-width: 992px){
  .location{
    width: 100%;
    padding: 10% 0 5% 0;
    text-align: center;
    @include flex-column;

    h2{
      color: $dark-blue;
      font-size: 22px;
    }

    p{
      text-align: center;
      color: grey;
      font-family: 'Poiret One', cursive;
      margin-bottom: 2%;
      font-size: 19px;
    }

    img{
      width: 80%;
      height: auto;
    }
  }
}
