// Navbar Styles Open
header{
  nav{
    width: 100%;
    height: 100px;
    z-index: 10000000000000000000000000;
    -webkit-box-shadow: 0px 1px 6px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 1px 6px 1px rgba(0,0,0,0.75);
    box-shadow: 0px 1px 6px 1px rgba(0,0,0,0.75);
    background-color: #fff;
    position: fixed;

    .logo-icon{
      font-size: 40px;
      position: absolute;
      top: 30px;
      left: 100px;
      cursor: pointer;
      color: $dark-blue;
      letter-spacing: 8px;
    }

    .mobile-nav-btn{
      color: $dark-blue;
      border: 2px solid $dark-blue;
      background-color: #fff;
      transition: 1s;
      cursor: pointer;
      position: absolute;
      font-size: 30px;
      padding: 10px 20px;
      right: 70px;
      top: 25px;
      display: none;
    }

    .mobile-nav-btn:hover{
      color: #fff;
      border: 2px solid $dark-blue;
      background-color: $dark-blue;
    }

    .desktop-options{
      position: absolute;
      top: 40px;
      right: 50px;
      display: flex;

      li{
        width: auto;
        margin: 0 10px;
        color: $dark-blue;
        font-size: 17px;
        padding: 5px 10px;
        font-family: 'Open Sans Condensed', sans-serif;
        letter-spacing: 1px;
      }

      li:hover{
        color: #e3e3e3;
      }

      .login-nav-btn{
        background-color: $dark-blue;
        border-radius: 20px;
        box-sizing: content-box;
        padding: 5px 20px;
        color: #fff;
        transition: 1s;
        font-size: 17px;
        border: 1px solid $dark-blue;
      }

      .login-nav-btn:hover{
        background-color: #fff;
        color: $dark-blue;
        border: 1px solid $dark-blue;
      }
    }

    .mobile-options{
      display: none;
    }

    .current-user-image{
      top: 30px;
      left: 300px;
      position: absolute;
      cursor: pointer;

      img{
        width: 100px;
        height: auto;
      }
    }
  }
}

// -------- Media Querys Open  -------- //

// Phone Only
@media screen and (max-width: 599px){
  header{
    nav{
      .logo-icon{
        font-size: 30px;
        position: absolute;
        top: 35px;
        left: 50px;
        cursor: pointer;
        color: $dark-blue;
        letter-spacing: 8px;
      }
    }
  }
}

@media screen and (max-width: 1320px){
  header{
    nav{
      .mobile-nav-btn{
        display: block;
        border-radius: 5px;
      }

      .mobile-options{
        position: absolute;
        top: 100px;
        left: 0;
        width: 0%;
        transition: .5s;
        height: calc(100vh - 100px);
        background-color: #fff;
        @include flex-column;

        .nav-li{
          display: none;

          li{
            padding: 20px 0;
            border-bottom: 1px solid #e3e3e3;
            width: auto;
            margin: 0 10px;
            color: $dark-blue;
            font-size: 17px;
            padding: 20px 0;
            font-family: 'Open Sans Condensed', sans-serif;
            letter-spacing: 1px;
          }
        }
      }

      .desktop-options{
        display: none;
      }
    }
  }
}
