// Navbar Styles Open
header{
  nav{
    width: 100%;
    height: 100px;
    z-index: 10000000000000000000000000;
    -webkit-box-shadow: 0px 1px 6px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 1px 6px 1px rgba(0,0,0,0.75);
    box-shadow: 0px 1px 6px 1px rgba(0,0,0,0.75);
    background-color: #fff;
    position: fixed;

    .logo-icon{
      font-size: 40px;
      position: absolute;
      top: 30px;
      left: 100px;
      cursor: pointer;
      color: $dark-blue;
      letter-spacing: 8px;
    }

    .mobile-nav-btn , .mobile-nav-btn-admin{
      color: $dark-blue;
      border: 2px solid $dark-blue;
      background-color: #fff;
      transition: 1s;
      cursor: pointer;
      position: absolute;
      font-size: 30px;
      padding: 10px;
      right: 70px;
      top: 25px;
      display: none;
    }

    .mobile-nav-btn:hover , .mobile-nav-btn-admin:hover{
      color: #fff;
      border: 2px solid $dark-blue;
      background-color: $dark-blue;
      transition: 1s;
      cursor: pointer;
      font-size: 30px;
      padding: 10px;
      right: 70px;
      top: 25px;
    }

    ul{
      position: absolute;
      top: 40px;
      right: 50px;
      display: flex;

      li{
        width: auto;
        margin: 0 10px;
        color: $dark-blue;
        font-size: 17px;
        padding: 5px 10px;
        font-family: 'Open Sans Condensed', sans-serif;
        letter-spacing: 1px;
      }

      li:hover{
        color: #e3e3e3;
      }

      .login-nav-btn{
        background-color: $dark-blue;
        border-radius: 20px;
        box-sizing: content-box;
        padding: 5px 20px;
        color: #fff;
        transition: 1s;
        font-size: 17px;
        border: 1px solid $dark-blue;
      }

      .login-nav-btn:hover{
        background-color: #fff;
        color: $dark-blue;
        border: 1px solid $dark-blue;
      }
    }
  }
}

// -------- Media Querys Open  -------- //

// Phone Only
@media screen and (max-width: 599px){
  header{
    nav{
      .logo-icon{
        font-size: 30px;
        position: absolute;
        top: 35px;
        left: 50px;
        cursor: pointer;
        color: $dark-blue;
        letter-spacing: 8px;
      }
    }
  }
}

// Tablet Portait Up
@media screen and (min-width: 600px){

}

// Tablet lanscape down
@media screen and (max-width: 1100px){
  header{
    nav{
      .mobile-nav-btn , .mobile-nav-btn-admin{
        color: $dark-blue;
        border: 2px solid $dark-blue;
        border-radius: 5px;
        background-color: #fff;
        transition: 1s;
        cursor: pointer;
        position: absolute;
        font-size: 30px;
        padding: 10px 20px;
        right: 25px;
        top: 25px;
        display: block;
      }

      .mobile-nav-btn:hover , .mobile-nav-btn-admin:hover{
        color: #fff;
        border: 2px solid $dark-blue;
        border-radius: 5px;
        background-color: $dark-blue;
        transition: 1s;
        cursor: pointer;
        font-size: 30px;
        padding: 10px 20px;
        right: 25px;
        top: 25px;
        display: block;
      }

      ul{
        display: none;
        top: 100px;
        width: 100%;
        right: 0;
        left: 0;
        background-color: #fff;
        color: $dark-blue;
        padding: 0 0 2rem 0;
        text-align: center;

        li{
          border-bottom: 1px solid #e3e3e3;
          padding: 10px 0;
          text-align: center;
        }
      }
    }
  }
}

// Desktop portait up
@media screen and (min-width: 1200px){
  header{
    nav{
      width: 100%;
      height: 100px;
      z-index: 10000000000000000000000000;
      -webkit-box-shadow: 0px 1px 6px 1px rgba(0,0,0,0.75);
      -moz-box-shadow: 0px 1px 6px 1px rgba(0,0,0,0.75);
      box-shadow: 0px 1px 6px 1px rgba(0,0,0,0.75);
      background-color: #fff;
      position: fixed;

      .logo-icon{
        font-size: 40px;
        position: absolute;
        top: 30px;
        left: 100px;
        cursor: pointer;
        color: $dark-blue;
        letter-spacing: 8px;
      }

      .mobile-nav-btn , .mobile-nav-btn-admin{
        color: $dark-blue;
        border: 2px solid $dark-blue;
        background-color: #fff;
        transition: 1s;
        cursor: pointer;
        position: absolute;
        font-size: 30px;
        padding: 10px;
        right: 70px;
        top: 25px;
        display: none;
      }

      .mobile-nav-btn:hover , .mobile-nav-btn-admin:hover{
        color: #fff;
        border: 2px solid $dark-blue;
        background-color: $dark-blue;
        transition: 1s;
        cursor: pointer;
        font-size: 30px;
        padding: 10px;
        right: 70px;
        top: 25px;
      }

      ul{
        position: absolute;
        top: 40px;
        right: 50px;
        display: flex;

        li{
          width: auto;
          margin: 0 10px;
          color: $dark-blue;
          font-size: 17px;
          padding: 5px 10px;
          font-family: 'Open Sans Condensed', sans-serif;
          letter-spacing: 1px;
        }

        li:hover{
          color: #e3e3e3;
        }

        .login-nav-btn{
          background-color: $dark-blue;
          border-radius: 20px;
          box-sizing: content-box;
          padding: 5px 20px;
          color: #fff;
          transition: 1s;
          font-size: 17px;
          border: 1px solid $dark-blue;
        }

        .login-nav-btn:hover{
          background-color: #fff;
          color: $dark-blue;
          border: 1px solid $dark-blue;
        }
      }
    }
  }
}

// Big Desktop portait up
@media screen and (min-width: 1800px){

}

// -------- Media Querys Close  -------- //
