// Our Clients Styles
.our-clients{
  width: 100%;
  padding: 10% 0 0 0;
  @include flex-column;

  h2{
    color: $dark-blue;
    font-size: 30px;
  }

  p{
    text-align: center;
    color: grey;
    font-family: 'Poiret One', cursive;
    margin-bottom: 2%;
    font-size: 22px;
  }

  .carousel-content{
    width: 100%;
    @include flex-row;

    i{
      font-size: 2rem;
      margin: 0 100px;
      padding: 5px;
      background-color: $dark-blue;
      color: #fff;
      transition: 1s;
      cursor: pointer;
    }

    i:hover{
      background-color: #e3e3e3;
    }

    .our-clients-carousel{
      width: 50%;
      height: 250px;
      @include flex-row;

      .slick-next , .slick-prev{
          visibility: hidden;
        }

      .slick-dots li button:before{
        font-size: 30px;
        line-height: 30px;
      }

      .slick-dots li.slick-active button:before {
        color: $dark-blue !important;
      }

      div{
        height: 100%;
        @include flex-row;

        img{
          height: auto;
          width: 150px;
          //filter: grayscale(100%);
        }
      }
    }
  }
}

// Media screen open //
@media screen and (max-width: 992px){
  .our-clients{

    h2{
      font-size: 22px;
    }

    p{
      font-size: 16px;
    }

    .carousel-content{
      width: 100%;
      @include flex-row;

      i{
        font-size: 1rem;
        margin: 0 10px;
        padding: 5px;
        background-color: $dark-blue;
        color: #fff;
        transition: 1s;
        cursor: pointer;
      }

      i:hover{
        background-color: #e3e3e3;
      }
    }
  }
}
