// Services Styles Open
.our-services{
  width: 100%;
  padding: 10% 0 0 0;
  @include flex-column;

  h2{
    color: $dark-blue;
    font-size: 30px;
  }

  p{
    text-align: center;
    color: #4d4d4d;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 5%;
    font-size: 22px;
  }

  .services{
    @include flex-row;
    width: 100%;
    padding: 0;

    .content , .image{
      height: 400px;
      width: 50%;
    }

    .content{
      @include flex-column;
      box-sizing: border-box;
      padding: 5%;
      background-color: #fff;

      i{
        font-size: 3rem;
        margin-bottom: 3%;
        color: $dark-blue;
      }

      h3{
        color: $dark-blue;
        text-transform: uppercase;
        letter-spacing: 3px;
        font-size: 18px;
        margin-bottom: 5%;
      }

      h4{
        font-size: 20px;
        margin-bottom: 3%;
        color: $dark-blue;
      }

      p{
        font-size: 17px;
      }
    }

    .image{
      background-repeat: no-repeat;
      background-size: 100% 100%;
      cursor: pointer;
      transition: 2s;
    }

    .image:hover{
      background-size: 120% 120%;
    }

    .image-1{
      background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../img/pesticide-image-1.jpg');
    }

    .image-1:hover{
      background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url('../img/pesticide-image-1.jpg');
    }

    .image-2{
      background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../img/farm-image.jpg');
    }

    .image-2:hover{
      background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url('../img/farm-image.jpg');
    }
  }
}

// Media Query Open //
@media screen and (max-width: 992px){
  .our-services{

    h2{
      font-size: 22px;
    }

    p{
      font-size: 15px;
    }

    .services{
      @include flex-column;
      padding: 5% 0;

      .content , .image{
        height: 300px;
        width: 100%;
        text-align: center;
      }

      .content{
        padding: 10% 0;

        i{
          font-size: 2rem;
        }

        h3{
          font-size: 14px;
        }
      }

      .content-1{
        order: 1;
      }

      .content-2{
        order: 3;
      }

      .image-1{
        order: 2
      }

      .image-2{
        order: 4
      }
    }
  }
}
