// Staff Section Open
.staff{
  width: 100%;
  padding: 10% 0 0 0;
  @include flex-column;

  h2{
    color: $dark-blue;
  }

  p{
    text-align: center;
    color: grey;
    font-family: 'Poiret One', cursive;
    margin-bottom: 2%;
  }

  .staff-content{
    @include flex-row;
    width: 100%;
    text-align: center;
    padding: 3% 0;

    .professional{
      width: 33.3%;
      padding: 0;

      img{
        width: 150px;
        height: 150px;
        border-radius: 50%;
        transition: 1.5s;
        filter: grayscale(100%);
        margin-bottom: 2rem;
        cursor: pointer;
      }

      img:hover{
        filter: grayscale(10%);
      }

      h3{
        color: $dark-blue;
        font-family: 'Poiret One', cursive;
        font-size: 20px;
        margin-bottom: 5%;
      }

      p{
        color: grey;
        font-family: 'Poiret One', cursive;
        font-size: 15px;
        margin-bottom: 3%;
      }
    }
  }
}

// Media Querys Open //
.staff{

  h2{
    font-size: 22px;
  }

  p{
    font-size: 16px;
  }

  .staff-content{
    @include flex-column;

    .professional{
      width: 100%;
      padding: 0 5%;

      h3{
        font-size: 20px;
      }
    }
  }
}
