// whatsapp-contact Styles Open
.whatsapp-contact{
  background-color: green;
  color: #fff;
  width: 300px;
  height: auto;
  padding: 10px 15px;
  border-radius: 50px;
  position: fixed;
  bottom: 50px;
  right: 50px;
  cursor: pointer;
  @include flex-column;
}

// Media Querys Open //
@media screen and (max-width: 992px){
  .whatsapp-contact{
    background-color: green;
    color: #fff;
    width: 200px;
    height: auto;
    padding: 10px 15px;
    border-radius: 50px;
    position: fixed;
    bottom: 50px;
    right: 5px;
    font-size: 10px;
    cursor: pointer;
    @include flex-column;
  }
}
