<!-- Add users Section Open -->
<section class='add-users'>
  <h2>Crear nuevo usuario</h2>

  <div class="add-users-input-content">
    <div class="add-users-input-logo">
      <i class="fas fa-address-card"></i>
    </div>
    <input type="text" class="new-user-name" placeholder="Nombre">
  </div>

  <div class="add-users-input-content">
    <div class="add-users-input-logo">
      <i class="fas fa-envelope-open-text"></i>
    </div>
    <input type="text" class="new-user-email" placeholder="Email">
  </div>

  <div class="add-users-input-content">
    <div class="add-users-input-logo">
      <i class="fas fa-key"></i>
    </div>
    <input type="password" class="new-user-pass" placeholder="Contraseña">
  </div>

  <div class="add-users-input-content">
    <div class="add-users-input-logo">
      <i class="fas fa-map-marker-alt"></i>
    </div>
    <input type="text" class="new-user-location" placeholder="Dirección">
  </div>

  <div class="add-users-input-content">
    <div class="new-user-logo-link">
      <p>Seleccionar logo para el usuario <i class="far fa-images"></i></p>
    </div>
    <input type="file" class="new-user-logo-btn">
  </div>

  <!-- Progress BAR Open -->
  <meter id="progress-bar" class="hidden" min='0' max='100' low='30' high='70' value='0'></meter>
  <!-- Progress BAR Close -->

  <input type="button" class='up-new-user-btn' value='Cargar nuevo usuario'>
</section>
<!-- Add Users Section Close -->
