<!-- Admin Dashboard Section Open -->
<section class="admin-dashboard">
  <!-- Header Section Open -->
  <header>
    <nav>
      <!-- Website Logo -->
      <a href="index.html"> <p class="logo-icon">CIP <i class="fas fa-home"></i></p></a>

      <!-- Mobile Button Open -->
      <i class="fas fa-bars mobile-nav-btn"></i>
      <!-- Mobile Button Close -->

      <!-- Section´s lists open -->
      <ul class='desktop-options'>
        <a href="#"><li>Administrar usuarios <i class="fa fa-users" aria-hidden="true"></i></li></a>
        <a class='nav-generate-report' href="#"><li>Generar Reporte <i class="far fa-file-alt"></i></li></a>
        <a class="nav-add-user mobile-admin-dash" href="#"><li>Agregar Usuario <i class="fa fa-user-plus" aria-hidden="true"></i></li></a>
        <a class='nav-generate-certificate mobile-admin-dash' href="#"><li>Certificaciones <i class="fas fa-file-contract"></i></li></a>
        <a class='nav-change-password mobile-admin-dash' href="#"><li>Cambiar Contraseña <i class="fas fa-key"></i></li></a>
        <a class='nav-log-out mobile-admin-dash' href="#"><li>Cerrar Sesión <i class="fas fa-door-closed"></i></li></a>
      </ul>

      <ul class='mobile-options'>
        <a class='nav-li' href="#"><li>Administrar Usuarios <i class="fa fa-users" aria-hidden="true"></i></li></a>
        <a class='nav-generate-report mobile-admin-dashboard nav-li' href="#"><li>Generar reporte <i class="far fa-file-alt"></i></li></a>
        <a class='nav-add-user mobile-admin-dash nav-li' href="#"><li>Agregar Usuario <i class="fa fa-user-plus" aria-hidden="true"></i></li></a>
        <a class='nav-generate-certificate mobile-admin-dash nav-li' href="#"><li>Certificaciones <i class="fas fa-file-contract"></i></li></a>
        <a class='nav-change-password mobile-admin-dash nav-li' href="#"><li>Cambiar Contraseña <i class="fas fa-key"></i></li></a>
        <a class='nav-log-out mobile-admin-dash nav-li' href="#"><li>Cerrar Sesión <i class="fas fa-door-closed"></i></li></a>
      </ul>
      <!-- Section´s lists close -->
    </nav>
  </header>
  <!-- Header Section Close -->

  <!-- Admin Main Section Open -->
  <section class="admin-main">
    <h2 class='admin-dashboard-welcome-message'>Bienvenido al panel de control <i class="fa fa-tasks" aria-hidden="true"></i></h2>
  </section>
  <!-- Admin Main Section Close -->

  <!-- Log Out Message Open -->
  <div class='log-out-message'>
    <p>¿ Seguro desea cerrar sesión ?</p>

    <div class="confirm-log-out-buttons">
      <input class="log-out-btn" type="button" value="Si">
      <input class="false-log-out-btn" type="button" value="No">
    </div>
  </div>
  <!-- Log Out Message Close -->
</section>
<!-- Admin Dashboard Section Close -->
