<!-- Admin Dashboard Section Open -->
<section class="admin-dashboard">
  <!-- Header Section Open -->
  <header>
    <nav>
      <!-- Website Logo -->
      <p class="logo-icon">CIP <i class="fas fa-home"></i></p>
      <!-- Section´s lists open -->
      <ul>
        <a href="#"><li>Administrar usuarios <i class="fa fa-users" aria-hidden="true"></i></li></a>
        <a href="#"><li>Generar Reporte <i class="far fa-file-alt"></i></li></a>
        <a href="#"><li>Agregar Usuario <i class="fa fa-user-plus" aria-hidden="true"></i></li></a>
        <a class='nav-change-password' href="#"><li>Cambiar Contraseña <i class="fas fa-key"></i></li></a>
        <a class='nav-log-out' href="#"><li>Cerrar Sesión <i class="fas fa-door-closed"></i></li></a>
      </ul>
      <!-- Section´s lists close -->
    </nav>
  </header>
  <!-- Header Section Close -->

  <!-- Admin Main Section Open -->
  <section class="admin-main">
    <h2 class='admin-dashboard-welcome-message'>Bienvenido al panel de control <i class="fa fa-tasks" aria-hidden="true"></i></h2>
  </section>
  <!-- Admin MAin Section Close -->

  <!-- Log Out Message Open -->
  <div class='log-out-message'>
    <p>¿ Seguro desea cerrar sesión ?</p>

    <div class="confirm-log-out-buttons">
      <input class="log-out-btn" type="button" value="Si">
      <input class="false-log-out-btn" type="button" value="No">
    </div>
  </div>
  <!-- Log Out Message Close -->
</section>
<!-- Admin Dashboard Section Close -->
