<!-- Change Password Section Open -->
<section class="change-password">
  <h2>Cambiar contraseña</h2>

  <div class="new-password-content">
    <div class="new-password-logo">
      <i class="fas fa-key"></i>
    </div>
    <input type="password" class='new-pass' placeholder="Ingrese una nueva contraseña">
    <i class="fa fa-check-circle new-pass-check" aria-hidden="true"></i>
    <i class="fa fa-times new-pass-un-check" aria-hidden="true"></i>
  </div>

  <div class="new-password-content">
    <div class="new-password-logo">
      <i class="fas fa-sync-alt"></i>
    </div>
    <input type="password" class='confirm-pass' placeholder="Repita su nueva contraseña">
    <i class="fa fa-check-circle confirm-new-pass-check" aria-hidden="true"></i>
    <i class="fa fa-times confirm-new-pass-un-check" aria-hidden="true"></i>
  </div>

  <!-- Confirm new Password Button Open -->
  <input type="button" class='confirm-new-pass-btn' value='Confirmar'>
  <!-- Confirm new Password Button Close -->

  <!-- Change Password Success Message Open-->
  <div class="success-change-password-message">
    <i class="fa fa-unlock" aria-hidden="true"></i>
    <p>¡ Contraseña cambiada correctamente !</p>
  </div>
  <!-- Change Password Success Message Close -->

  <!-- Change Password Error Message Open -->
  <div class="error-change-password-message">
    <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
    <p>¡ No se pudo cambiar la contraseña, chequea que las dos contraseñas ingresadas coincidan y que contengan al menos 6 caracteres !</p>
  </div>
  <!-- Change Password Error Message Close -->
</section>
<!-- Change Password Section Close -->
