<!-- Section Generate report Open -->
<section class='generate-report'>
  <h2>Generar reporte</h2>

  <!-- Report Section Quantity Open -->
  <div class='report-section-quantity'>
    <div class='report-section-quantity-input-content'>
      <div class='report-section-quantity-icon'>
        <i class="fas fa-calendar-alt"></i>
      </div>
      <input id='report-date' type="text" placeholder="Fecha">
    </div>

    <div class='report-section-quantity-input-content'>
      <div class='report-section-quantity-icon'>
        <i class="far fa-clock"></i>
      </div>
      <input id='' type="text" placeholder="Hora">
    </div>

    <div class='report-section-quantity-input-content'>
      <div class='report-section-quantity-icon'>
        <i class="fas fa-calculator"></i>
      </div>
      <input type="text" placeholder="Seleccióne la cantidad de sectores">
    </div>

    <div class='report-section-quantity-input-content'>
      <div class='report-section-quantity-icon'>
        <i class="far fa-building"></i>
      </div>
      <input type="text" placeholder="Tipo de establecimiento">
    </div>

    <input type="button" value='Aceptar'>
  </div>
  <!-- Report Section Quantity Close -->
</section>
<!-- Section Generate report Close -->
