<!-- Certifications Section Open -->
<section class="generate-certifications-section">
  <!-- Upload Certificate Open -->
  <div class="upload-certifiction">
    <h2>Subir certificados a la plataforma</h2>
    <div class='upload-certification-content'>
      <i class="fa fa-file-text" aria-hidden="true"></i>
      <p>Seleccionar certificado</p>
    </div>
    <input class='select-certificate-to-upload' type="file">
  </div>
  <!-- Upload Certificate Close -->

  <!-- Assign Certificate Section Open -->
  <div class="assign-certifiction-to-user">
    <h2>Asignar certificado a usuario</h2>
    <select class="select-user" placeholder='Seleccióna el usuario'></select>
    <select class="select-certificate"></select>
    <input type="button" value='Asignar certificado'>
  </div>
  <!-- Assign Certificate Section Close -->
</section>
<!-- Certifications Section Close -->
