<!-- Certifications Section Open -->
<section class="generate-certifications-section">

  <!-- Upload Certificate Open -->
  <div class='upload-certifications-slider'>
    <h2>Subir certificados a la plataforma</h2>
    <i class="fas fa-caret-down"></i>
  </div>

  <div class="upload-certifiction">
    <div class='upload-certification-content'>
      <i class="fas fa-folder-plus"></i>
      <p>Seleccionar certificado</p>
    </div>
    <input class='select-certificate-to-upload' type="file">
    <input class='certificate-name' type="text" placeholder="Nombre del certificado">

    <!-- Progress BAR Open -->
    <meter id="progress-bar" class="hidden" min='0' max='100' low='30' high='70' value='0'></meter>
    <!-- Progress BAR Close -->

    <input class="upload-certificate" type="button" value="Subir certificación">
  </div>
  <!-- Upload Certificate Close -->

  <!-- Assign Certificate Section Open -->
  <div class='assign-certificate-slider'>
    <h2>Asignar un certificado a un usuario</h2>
    <i class="fas fa-caret-down"></i>
  </div>

  <div class="assign-certifiction-to-user">
    <select class="select-user" placeholder='Seleccióna el usuario'>
      <option value="">Selecciona un usuario</option>
    </select>

    <select class="select-certificate" placeholder='Seleccióna certificación'>
      <option value="">Selecciona una certificación</option>
    </select>
    <input class='assign-cert-btn' type="button" value='Cargar certificación'>
  </div>
  <!-- Assign Certificate Section Close -->

  <!-- Certificates CRUD section Open -->
  <div class='certificates-crud-slider'>
    <h2>Administrar certificaciónes</h2>
    <i class="fas fa-caret-down"></i>
  </div>

  <div class="certificates-crud">
    <table class="certificates-crud-table">
      <tr>
        <th>Nombre Cert.</th>
        <th>Editar</th>
        <th>Eliminar</th>
      </tr>
    </table>
  </div>
  <!-- Certificates CRUD Section Close -->

  <!-- Crud Delete Certificate Select Open -->
  <div class='crud-delete-option'>
    <p>¿Seguro que desea eliminar este certificado?</p>

    <div class="crud-select-btn">
      <input type="button" value='Si' class='delete-cert-button'>
      <input type="button" value='No' class='undelete-cert-button'>
    </div>
  </div>
  <!-- Crud Delete Certificate Select Close -->

  <!-- Certificate messagge Open -->
  <div class='certificate-message'>
    <p>En esta sección el usuario adminstrador podra subir documentos a la plataforma y asignarle dichos documentos a determinados usuarios.</p>
    <input class='acept-cert-message' type="button" value='Aceptar'>
  </div>
  <!-- Certificate message Close -->

  <!-- Success Assign Certificate Message Open -->
  <div class="success-delete-cert">
    <i class="fa fa-unlock" aria-hidden="true"></i>
    <p>¡ Se elimino el certificado correctamente !</p>
  </div>
  <!-- Success Assign Certificate Message Close -->

  <!-- Success Assign Certificate Message Open -->
  <div class="success-assign-cert-message">
    <i class="fa fa-unlock" aria-hidden="true"></i>
    <p>¡ Certificado asignado correctamente !</p>
  </div>
  <!-- Success Assign Certificate Message Close -->

  <!-- Success Charge Document Message Open -->
  <div class="success-charge-document">
    <i class="fa fa-unlock" aria-hidden="true"></i>
    <p>¡ Archivo cargado correctamete !</p>
  </div>
  <!-- Success Charge Document Message Close -->

  <!-- Success Charge Document Message Open -->
  <div class="success-select-document">
    <i class="fa fa-unlock" aria-hidden="true"></i>
    <p>¡ Selecciono un archivo correctamete !</p>
  </div>
  <!-- Success Charge Document Message Close -->

  <!-- Error update Document Message Open -->
  <div class="error-update-document">
    <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
    <p>¡ Lamentablemente no se pudo subir el archivo !</p>
  </div>
  <!-- Error update Document Message Close -->
</section>
<!-- Certifications Section Close -->
