<!-- Login section Open -->
<section class="login">
  <div class="login-form">
    <!-- Login logo -->
    <i class="fa fa-user-circle" aria-hidden="true"></i>

    <!-- Login inputs Open -->
    <div class="input-content">
      <div class="input-icon">
        <i class="fa fa-user" aria-hidden="true"></i>
      </div>
      <input class="login-username" type="text" placeholder="Usuario">
    </div>

    <div class="input-content">
      <div class="input-icon">
        <i class="fas fa-key"></i>
      </div>
      <input class="login-password" type="password" placeholder="Contraseña">
    </div>

    <input class="login-button" type="button" value='Ingresar'>
    <!-- Login inputs Close -->

    <!-- Login Success Message Open-->
    <div class="success-login-message">
      <i class="fa fa-unlock" aria-hidden="true"></i>
      <p>¡ Contraseña correcta !</p>
    </div>
    <!-- Login Success Message Close -->

    <!-- Login Error Message Open -->
    <div class="error-login-message">
      <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
      <p>¡ No se pudo loguear correctamente, por favor corrobore Usuario y contraseña !</p>
    </div>
    <!-- Login Error Message Close -->
  </div>
</section>
<!-- Login Section Close -->
