<!-- Login section Open -->
<section class="login">
  <!-- Close Main Button Open -->
  <p class="close-main">
    Cerrar <i class="fa fa-window-close" aria-hidden="true"></i>
  </p>
  <!-- Close Main Button Close -->

  <div class="login-form">
    <!-- Login logo -->
    <i class="fa fa-user-circle" aria-hidden="true"></i>

    <!-- Login inputs Open -->
    <div class="input-content">
      <div class="input-icon">
        <i class="fa fa-user" aria-hidden="true"></i>
      </div>
      <input class="login-username" type="text" placeholder="Usuario">
      <i class="fa fa-check-circle user-check" aria-hidden="true"></i>
      <i class="fa fa-times user-un-check" aria-hidden="true"></i>
    </div>

    <div class="input-content">
      <div class="input-icon">
        <i class="fas fa-key"></i>
      </div>
      <input class="login-password" type="password" placeholder="Contraseña">
      <i class="fa fa-check-circle pass-check" aria-hidden="true"></i>
      <i class="fa fa-times pass-un-check" aria-hidden="true"></i>
    </div>

    <select class='select-user-role' name="">
      <option value=''>Seleccione tipo de usuario</option>
      <option value='client'>Cliente</option>
      <option value='admin'>Administrador</option>
    </select>

    <input class="login-button" type="button" value='Ingresar'>
    <!-- Login inputs Close -->

    <!-- Login Success Message Open-->
    <div class="success-login-message">
      <i class="fa fa-unlock" aria-hidden="true"></i>
      <p>¡ Contraseña correcta !</p>
    </div>
    <!-- Login Success Message Close -->

    <!-- Login Error Message Open -->
    <div class="error-login-message">
      <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
      <p>¡ No se pudo loguear correctamente, por favor corrobore Usuario y contraseña !</p>
    </div>
    <!-- Login Error Message Close -->

    <!-- Login Error Message Open -->
    <div class="error-login-message-2">
      <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
      <p>¡ Por favor complete todos los campos requeridos !</p>
    </div>
    <!-- Login Error Message Close -->
  </div>
</section>
<!-- Login Section Close -->
