<!-- User certification Section Open -->
<section class="user-certification">
  <h2>Certificados</h2>

  <div class='charge-certifications-in-table'>
    <p>En esta sección podrá ver todos los certificados de los productos que CIP le brinda.</p>
    <input class='acept-cert-table-message' type="button" value='Aceptar'>
  </div>

  <table class="user-cert-table">
    <tr>
      <th>Nombre del certificado <i class="fas fa-file-signature"></i></th>
      <th>Certificado <i class="fas fa-file"></i></th>
    </tr>
  </table>
</section>
<!-- User certification Section Close -->
