<!-- Users dashboard section Open -->
<section class="users-dashboard">
  <!-- Header Section Open -->
  <header>
    <nav>
      <!-- Website Logo -->
      <a href="index.html"> <p class="logo-icon">CIP <i class="fas fa-home"></i></p></a>

      <!-- Mobile Button Open -->
      <i class="fas fa-bars mobile-nav-btn-admin"></i>
      <!-- Mobile Button Close -->

      <!-- Section´s lists open -->
      <ul class='ul-component-admin'>
        <a class='nav-change-password' href="#"><li>Mis certificaciónes <i class="fas fa-file-alt"></i></li></a>
        <a class='nav-change-password' href="#"><li>Mis reportes <i class="fas fa-eye"></i></li></a>
        <a class='nav-user-log-out' href="#"><li>Cerrar Sesión <i class="fas fa-door-closed"></i></li></a>
      </ul>
      <!-- Section´s lists close -->
    </nav>
  </header>
  <!-- Header Section Close -->

  <!-- Admin Main Section Open -->
  <section class="user-main">
    <h2 class='admin-dashboard-welcome-message'>Bienvenido al panel de control <i class="fa fa-tasks" aria-hidden="true"></i></h2>
  </section>
  <!-- Admin Main Section Close -->
</section>
<!-- Users dashboard section Close -->
