<!-- Users dashboard section Open -->
<section class="users-dashboard">
  <!-- Header Section Open -->
  <header>
    <nav>
      <!-- Website Logo -->
      <a href="index.html"> <p class="logo-icon">CIP <i class="fas fa-home"></i></p></a>

      <!-- Mobile Button Open -->
      <i class="fas fa-bars mobile-nav-btn"></i>
      <!-- Mobile Button Close -->

      <!-- Section´s lists open -->
      <ul class='ul-component'>
        <a class='nav-change-password' href="#"><li>Mis certificaciónes <i class="fas fa-key"></i></li></a>
        <a class='nav-change-password' href="#"><li>Mis reportes <i class="fas fa-key"></i></li></a>
        <a class='nav-log-out' href="#"><li>Cerrar Sesión <i class="fas fa-door-closed"></i></li></a>
      </ul>
      <!-- Section´s lists close -->
    </nav>
  </header>
  <!-- Header Section Close -->
</section>
<!-- Users dashboard section Close -->
